---
---
@charset "UTF-8";

@import "main";

@font-face {
    font-family: ArialROunded;
    src: url(../fonts/ArialROunded.TTF);
}

@font-face {
    font-family: Myfrida;
    src: url(../fonts/MyfrideRegular.OTF);
}

@font-face {
    font-family: ArialROundedRegular;
    src: url(../fonts/ArialRoundedMTStd.OTF);
}

body{
    background-color: #86A92F;
    font-family: ArialROundedRegular;
}

.container{
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    padding: 5px;
}

.navigatie{
    background-color: #C60450;
    border-radius: 15px;
    margin-bottom: 2%; 

}

.navbar {
    padding-top: 1rem;
    background-color: white !important;
    text-align: center;
    padding-left: none;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(73, 0, 29);
    font-family: ArialROundedRegular;
}

h1{
     font-family: Myfrida; 
     font-weight: bold; 
     font-size: 35pt; 
     color:  #C60450;
 }

 .tussenruimte{
    margin-top: 7rem;
 }

.footer{
    margin-top: 3%;
    margin-bottom: 1%;
    background-color:  #C60450;
    text-align: center; 
}


.punt{
    color: white; 
    padding-bottom: 50px; 
}


.fotos{
    border-radius: 15px;
}

.nav > li > a:hover{
    background-color: #C60450;
    font-weight: bolder;
    font-family: arial; 
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.bijtitel{
    font-size: 20px; 
    color: #86A92F;
    font-family: Myfrida; 
}

.logo3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 2em;
}

.kader{
    border: 2px solid  #C60450;
    margin-right: 1%;
}


.containertje {
    
    position: relative;
  }
  
  .image {
    display: block;
    width: 90%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .3s ease;    
    background-color: white;
    display: inline-block;
  }
  
  .containertje:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #C60450;
    font-size: 20px;
    font-family: Myfrida; 
    position: absolute;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .kleinerzetten{
    font-size: 13px;
    color: #86A92F;
  }

  hr{
    border-top: 6px solid  #C60450;
    border-radius: 15px;
    width: 90%;
  }

  .lijntje{
      border-right:  6px solid #C60450;
      margin-right: 7%;
           
  }

  .centreren{
     text-align: center; 
  }

  .magenta{
      background-color: #C60450;
      height: 14em; 
      border-radius: 15px;
  }

  .groen{
    background-color: #86A92F;
    height: 14em; 
    border-radius: 15px;
  }

  .secundair{
      font-size: 11px;
  }

  .blauw{
    background-color:	#00A4C8;
    height: 14em; 
    border-radius: 15px;
  }

  .zwart{
    background-color:	#000000;
    height: 14em; 
    border-radius: 15px;
  }

  .wit{
    background-color:	#FFFFFF;
    height: 14em; 
    border-radius: 15px;
    border: 2px solid black;
  }

.fontmyfrida{
    font-family: Myfrida;
    font-size: 40px;
    line-height: 55px;
    color: white; 
  }

.lettertype{
    background-color: #86A92F;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-right: 15px;
    padding-top: 2%;
}

.fontmyfridaRegular{
    font-family: Myfrida;
    font-size: 30px;
}

.fontmyfridaBold{
    font-family: Myfrida;
    font-size: 30px;
    font-weight:bold; 
}

.fontmyfridaItalic{
    font-family: Myfrida;
    font-size: 30px;
    font-style: italic;
}

.fontArialRounded{
    font-family: ArialROundedRegular;
    font-size: 32px;
    line-height: 50px;
    color: white; 
}

.fontArialRoundedBold{
    font-family: ArialROunded;
    font-size: 30px;
    font-weight:bold; 
}

.fontArialRoundedRegular{
    font-family: ArialROundedRegular;
    font-size: 30px;
}