---
---
@charset "UTF-8";

@import "main";

@font-face {
    font-family: Myfrida;
    src: url("\images\myfrida\Myfride Regular.woff")
}

body{
    background-color: #86A92F;
}

.container{
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    padding: 5px;
}
.buttonHome{
    background-color: white;
    border: none;
    color: white;
    padding: 20% 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
}

.buttonHome:hover{
    background-color: white;
    color: transparent;
    transition: width 2s, height 4s;
}

.buttonBetekenis:hover{
    background-image: url('../../images/logo.png');
    background-position: center;
    background-size: cover;
}

button.banner{
    padding: 1% 0%;
} 

.navigatie{
    background-color: #C60450;
    border-radius: 15px;
    margin-bottom: 2%; 

}

.navbar {
    padding-top: 1rem;
    background-color: white !important;
    text-align: center;
    padding-left: none;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

 h1{
     font-family: Myfrida; 
     font-weight: bold; 
     font-size: 35pt; 
     color:  #C60450;
 }

 .tussenruimte{
    margin-top: 7rem;
 }

.footer{
    margin-top: 3%;
    margin-bottom: 1%;
    background-color:  #C60450;
    text-align: center; 
}


.punt{
    color: white; 
    padding-bottom: 50px; 
}


.fotos{
    border-radius: 15px;
}

.nav > li > a:hover{
    background-color: #C60450;
    font-weight: bolder;
    font-family: arial; 
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.titel{
    font-family: Myfrida; 
    font-weight: bold; 
    font-size: 35pt; 
    color:  #C60450;
}

.bijtitel{
    font-size: 20px; 
    color: black;
    font-family: Arial;

}

