<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | Huistijlgids - De wereldbrug</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
    <style>
    @font-face{
    font-family: ArialROunded;
    src: url(fonts/ArialROunded.TTF);
}

@font-face{
    font-family: Myfrida;
    src: url(fonts/MyfrideRegular.OTF);
}

@font-face{
    font-family: ArialROundedRegular;
    src: url(fonts/ArialRoundedMTStd.OTF);
}
    </style>
</head>

<body data-spy="scroll" data-target="#toc">  
<div class="container">
        <div class="container1">
        <img class="img-fluid banner" src="{{ '/images/header.png' | relative_url }}" alt="huisstijlgids de wereldbrug">
        {% include nav_hor.html %}
        </div>
        <div class="container1">
    <div class="row">
        <main class="col-12 col-md-12 col-lg-12 content">
                {{ content }}
        </main>
    </div>
</div>
</div>

<div class="container footer">
{% include footer.html %}
{% include scripts-bottom.html %}
</div>
</body>


</html>